/*Blocs colorés*/ 
.pink
{
  padding-top: 15px; 
  padding-bottom: 5px; 
  background-color: #FF847C; 
  color: white; 
}

.lightpink
{
  background-color: #F2DFDF; 
  margin-top: 20px; 
  padding: 10px; 
  font-style: normal;
}

.green
{
  background-color: #F2DFDF; 
  margin-top: 10px;
  padding: 10px; 
}

/*Numbers*/ 
.number
{
  font-size: 5em; 
  color: #FF847C; 
  font-weight: bolder; 
  text-align: center;
  border-top: solid 10px #99B898; 
}

.whitenumber
{
  font-size: 5em;  
  font-weight: bolder; 
  text-align: left; 
  margin-left: 50px; 
}

/*Typographie*/ 
h1
{
  font-family: 'Anton', sans-serif;
  text-align: center; 
  color: #99B898;
}

h2
{
  font-family: 'Anton', sans-serif; 
  text-align: left;
}

h3
{
  color: black; 
  font-family: 'Anton', sans-serif; 
  text-align: center;
} 

h4
{
  color: black; 
  font-style: normal;
  text-align: left;
  font-weight: bolder;
  font-family: 'Anton', sans-serif;
}

.line
{
  background-color: #F2DFDF; 
}

.gras
{
  font-weight: bolder; 
}


/*Base commune*/ 
body
{
    margin: 0; 
    padding: 0; 
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

/* Nav*/ 
.nav-link
{
color: black; 
}

.nav-link:hover
{
  color: #99B898; 
}

/* Nav mobile*/ 
.mobile-container {
  max-width: 450px;
  margin: auto;
  background-color: #ffffff; 
  height: 500px;
  color: #99B898; 
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff; 
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #000000; 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: white; 
  color: #99B898; 
  text-decoration: none;
}

.active {
  background-color: #ffffff; 
  color: #99B898; 
}

#symbol
{
  font-size: 1.5em; 
  font-weight: bold; 
}


/*Footer*/ 
.footer
{
  background-color: #99B898;
  padding-top: 50px; 
  margin-top: 50px;
}
