/* Attention : ce CSS est vieux et doit être revu à l'occase */ 

/* var colors added */ 
:root{
  --roseflash : #FF847C; 
  --greybeige : #F2DFDF; 
  --lightgreen : #99B898; 
}

/*Blocs colorés*/ 
.pink
{
  padding-top: 15px; 
  padding-bottom: 5px; 
  background: var(--roseflash); 
  color: white; 
}

.grey
{
  background-color: var(--greybeige); 
  font-style: italic;
  margin-top: 20px; 
  padding-top: 20px; 
  padding-bottom: 15px;
  text-align: center; 
}

/*Typographie*/
h1
{
  font-family: 'Anton', sans-serif;
  text-align: left; 
}


#p2
{
  font-family: 'Anton', sans-serif;
}

h2
{
  font-family: 'Anton', sans-serif; 
  text-align: left;
}

h3
{
  color: var(--lightgreen);  
  font-weight: bolder;
  font-family: 'Anton', sans-serif; 
} 

h4
{
  color: black; 
  font-style: normal;
  text-align: left;
  font-weight: bolder;
}

.line
{
  background-color: var(--greybeige); 
}

.gras
{
  font-weight: bolder; 
}

p
{
  text-align: justify;
}

/*Ajustements*/
.link
{
  color: black; 
  text-decoration: none; 
}

.link:hover
{
  color: var(--lightgreen);
  text-decoration: none; 
}

/*Base commune*/ 

body
{
    margin: 0; 
    padding: 0; 
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

/* Nav*/ 
.nav-link
{
color: black; 
}

.nav-link:hover
{
  color: var(--lightgreen); 
}

/* ajout coloration lien a dans la nav */ 
div > a{
  text-decoration: none;
  color: var(--lightgreen);  
}

div > a:hover{
  color: black; 
}

/* Nav mobile*/ 
.mobile-container {
  max-width: 450px;
  margin: auto;
  background-color: #ffffff; 
  height: 500px;
  color: var(--lightgreen); 
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff; 
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #000000; 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: white; 
  color: var(--lightgreen); 
  text-decoration: none;
}

.active {
  background-color: #ffffff; 
  color: var(--lightgreen); 
}

#symbol
{
  font-size: 1.5em; 
  font-weight: bold; 
}


/*Bandeau d'accueil*/ 
.jumbotron
{
    background-image: url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%; 
}

#logo
{
  max-width: 225px; 
}

.italic
{
  font-style: italic;
}

/*Enlève l'espacement entre jumbotron et bloc1*/ 
#jumbo
{
  margin: 0; 
}

/*Footer*/ 
.footer
{
  background-color: var(--lightgreen); 
  padding-top: 50px; 
  margin-top: 50px;
  color: white; 
  font-weight: bolder;
}

.footlink
{
  color: white;
  text-decoration: none;
}

.footlink:hover
{
  color: var(--roseflash); 
  text-decoration: none;
}